.dropbtn {
    background-color: #da029d;
    width: 180px;
    color: rgb(9, 1, 1);
    padding: 16px;
    font-size: 22px;
    border: none;
    font-weight: bold;
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 900;
}

.dropdown-content {
    display: none;
    background-color: #f1f1f1;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

.dropdown-content a:hover {
    background-color: rgba(221, 221, 221, 0.874);
}

/* .dropdown:hover .dropdown-content {
    display: block;
} */

.dropdown:hover .dropbtn {
    background-color: #e70c0c;
}